html,
body {
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  min-width: 320px;

  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.background-container,
.northern_lights-container,
.mountains-container,
.forest_line-container,
.trees-container,
.river-container,
.blablackbg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mountains-container {
  position: absolute;
  bottom: 10%;
  left: 0;
}

.trees-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.background-container {
  z-index: 1;
}

.title_section {
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 100px;
}

.title_header {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Assuming this is your font family */
  font-weight: 500;
  color: white;
  font-size: 40px;
  line-height: 110px;

  @media (min-width: 320px) {
    font-size: 50px;
  }

  @media (min-width: 640px) {
    font-size: 68px;
  }

  @media (min-width: 768px) {
    font-size: 80px;
  }

  @media (min-width: 1024px) {
    font-size: 100px;
  }

  @media (min-width: 1280px) {
    font-size: 180px;
    line-height: 160px;
  }
}

.title_description {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: left;
  max-width: 320px;


  @media (min-width: 640px) {
    font-size: 30px;
    line-height: 40px;
    max-width: 480px;
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 50px;
    max-width: 640px;
  }
}

.spaceman-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: auto;
  height: 50%;

  @media (max-width: 768px) {
    top: 20%;
    height: 30%;
  }

  @media (max-width: 480px) {
    height: 10%;
    top: 10%;
  }
}


.mountains-container {
  z-index: 4;
  transition: top 1s ease-in-out;
  pointer-events: none;
}

.forest_line-container {
  z-index: 5;
  pointer-events: none;
}

.trees-container {
  z-index: 6;
  pointer-events: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: black;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding-right: 50px;
}

.navbar.show {
  opacity: 1;
  transform: translateY(0);
}

.parallax {
  overflow: hidden;
  z-index: 0;
}

.experiance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  position: absolute;
  top: 50vh;
  z-index: 10;

}


.experiance {
  z-index: 4;
}

.exp_box {
  position: absolute;
  z-index: 10;
}



.experianceTitle {
  text-align: center
}

.experianceWrap {
  padding: 90px;
}

.full-page-container {
  width: 100vh;
  height: 100vh;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 
trying something out */

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
  min-width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  min-width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 200px;
  /* Adjust card width as needed */
}

.card h2 {
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #007bff;
}

.mystoryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px
}

.subHeader {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .title_header {
    font-size: 20px;
  }

  .title_description {
    font-size: 16px;
    max-width: 100px;
  }

  .experianceWrap {
    padding: 0%;
  }

  .mystoryCard {
    padding: 15px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .mountains-container ,
  .trees-container,
  .forest_line-container,
  .background-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .mountains-container {
    bottom: 50%;
  }

  .trees-container {
    bottom: -5%;
  }
}

.spaceman-container{
  max-width: 80vw;
  height: 80vh;
  max-height: 150vh;
}
